<div class="content-wrapper mt-5">

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>All RM Reports</h1>
                </div>

            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div style="overflow-x:auto; max-width: 100%;" class="custom-scrollbar">
                                <ng-container *ngIf="alllist && alllist.length > 0; else noData">
                                    <table id="example2" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th class="textcenter">Sr No</th>
                                                <th class="textcenter">RM Name</th>
                                                <th class="textcenter">RM Email</th>
                                                <th class="textcenter">Mobile </th>
                                                <th class="textcenter">Group Name</th>
                                                <th class="textcenter">Incoming Calls</th>
                                                <th class="textcenter">Missed Calls</th>
                                                <th class="textcenter">No Answer</th>
                                                <th class="textcenter">Busy</th>
                                                <th class="textcenter">Failed</th>
                                                <th class="textcenter">Outgoing Calls</th>
                                                <th class="textcenter">Total Call Duration In Minutes</th>
                                                <th class="textcenter">Average Handling Time In Minutes</th>
                                                <th class="textcenter">DeviceOnPercent</th>
                                                <th class="textcenter">Device On Human Readable</th>
                                                <th class="textcenter">RM Phone Number</th>
                                                <th class="textcenter">created At</th>
                                                <th class="textcenter">updated At</th>
                                            </tr>


                                        </thead>
                                        <tbody>
                                            <tr
                                                *ngFor="let agent of alllist  | paginate :{itemsPerPage:pagesize,currentPage:currentpage} let i=index">
                                                <td>{{i+1+(pagesize*(currentpage-1))}}</td>
                                                <td>{{ agent.AgentName }}</td>
                                                <td>{{ agent.AgentEmail }}</td>
                                                <td>{{ agent.AgentPhoneNumber }}</td>
                                                <td>{{ agent.GroupName }}</td>
                                                <td>{{ agent.IncomingCalls }}</td>
                                                <td>{{ agent.MissedCalls }}</td>
                                                <td>{{ agent.NoAnswer }}</td>
                                                <td>{{ agent.Busy}}</td>
                                                <td>{{ agent.Failed }}</td>
                                                <td>{{ agent.OutgoingCalls }}</td>
                                                <td>{{ agent.TotalCallDurationInMinutes }}</td>
                                                <td>{{ agent.AverageHandlingTimeInMinutes }}</td>
                                                <td>{{ agent.DeviceOnPercent }}</td>
                                                <td>{{ agent.DeviceOnHumanReadable }}</td>
                                                <td>{{ agent.AgentPhoneNumber }}</td>
                                                <td>{{ agent.createdAt }}</td>
                                                <td>{{ agent.updatedAt }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </ng-container>
                                <ng-template #noData>
                                    <p>Data not available.</p>
                                </ng-template>
                            </div>
                        </div>
                        <pagination-controls (pageChange)="currentpage=$event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>