<div class="content-wrapper mt-5 bg-gradient-light">
    <div *ngIf="loading" class="loader-overlay">
        <div class="loader"></div>
    </div>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="text-secondary">Relationship Manager</h1>
                </div>

            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card bg-white">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Select Supervisor</label>
                                        <select class="form-control bg-white" (change)="onSelectChange($event.target)">
                                            <option value="" disabled selected>Choose Supervisor</option>
                                            <option *ngFor="let userList of supervisorList" [value]="userList.id">
                                                {{ userList.name }}
                                            </option>
                                        </select>

                                    </div>
                                </div>
                                <a id="hiddenLink" target="_blank" style="display: none;" download></a>
                                <div class="col-md-6">
                                    <label>Upload RM </label> ( <a class="text-primary"
                                    (click)="downloadSampleFile()">Sample File download</a> )
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="exampleInputFile"
                                                    (change)="onFileSelected($event)">
                                                <label class="custom-file-label bg-white" for="exampleInputFile"><span
                                                        *ngIf="selectedFile">{{selectedFile.name}}</span>
                                                    file</label>
                                            </div>
                                            <div class="input-group-append px-2">
                                                <button class="btn btn-primary" (click)="onUpload()">Upload</button>
                                            </div>
                                            <div class="input-group-append col-md-6">
                                                <!-- <button class="btn btn-primary" (click)="downloadSampleFile()">Sample File download</button> -->
                                                <!-- <a class="text-primary"
                                                (click)="downloadSampleFile()">Sample File download</a> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="card-body">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Show Records</label>
                                    <select class="form-control" (change)="pagerecords($event.target)" style="width: 5pc;">
                                        <option value="" disabled selected>No</option>
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>

                                    </select>
                                </div>
                            </div>
                            <div style="overflow-x:auto; max-width: 100%;" class="custom-scrollbar">
                                <ng-container *ngIf="alllist1 && alllist1.length > 0; else noData">
                                    <table id="example2" class="table table-bordered table-hover ">
                                        <thead>
                                            <tr class="bg-dark">
                                                <th class="textcenter">Sr.No</th>

                                                <th class="textcenter">File Id</th>
                                                <th class="textcenter">Inserted Count</th>
                                                <th class="textcenter">Failed Count</th>
                                                <th class="textcenter">Created At </th>
                                                <th class="textcenter">View </th>
                                                <th class="textcenter">Download </th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="text-secondary"
                                                *ngFor="let alluploadedusers of alllist1 | paginate :{itemsPerPage:pagesize,currentPage:currentpage} let i=index">
                                                <td class=" c">{{i+1+(pagesize*(currentpage-1))}}</td>
                                                <td class="text-dark">{{ alluploadedusers.fileId }}</td>
                                                <td class="text-dark textcenter">{{ alluploadedusers.insertedCount }}</td>
                                                <td class="text-dark textcenter">{{ alluploadedusers.failedCount }}</td>
                                                <!-- <td> <span *ngIf="alluploadedusers.is_inserted==true" class="badge badge-success">
                                            Success </span> <span *ngIf="alluploadedusers.is_inserted==false"
                                            class="badge badge-danger">
                                            Failed </span></td>
                                    <td><span *ngIf="alluploadedusers.is_inserted==false"
                                            style="text-transform: capitalize;">{{
                                            alluploadedusers.reason }}</span></td> -->
                                                <td>{{ alluploadedusers.createdAt | date: 'yyyy-MM-dd h:mm:ss a'}}</td>
                                                <td>
                                                    <a class="text-primary"
                                                        (click)="showDetails(alluploadedusers.fileId)">View</a>
                                                </td>
                                                <td><a class="text-primary"
                                                        (click)="downloadFileIdWise(alluploadedusers.fileId)">Download</a>

                                                </td>
                                                <!-- |date:'dd/MM/yyyy'}}</td> -->
                                            </tr>
                                        </tbody>
                                    </table>
                                    <pagination-controls (pageChange)="currentpage=$event"></pagination-controls>
                                </ng-container>
                                <!-- Show message if no data is available -->
                                <ng-template #noData>
                                    <p>Data not available.</p>
                                </ng-template>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

</div>