<div class="content-wrapper mt-5">

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>All Agent</h1>
                </div>

            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Select Supervisor</label>
                                        <select class="form-control" (change)="onSelectChange($event.target)">
                                            <option value="" disabled selected>Choose Supervisor</option>
                                            <option *ngFor="let userList of supervisorList" [value]="userList.id">
                                                {{ userList.name }}
                                            </option>
                                        </select>

                                    </div>
                                </div>
                                <a id="hiddenLink" target="_blank" style="display: none;" download></a>
                                <div class="col-md-6">
                                    <label>Upload Agent</label>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="exampleInputFile"
                                                    (change)="onFileSelected($event)">
                                                <label class="custom-file-label" for="exampleInputFile"><span
                                                        *ngIf="selectedFile">{{selectedFile.name}}</span>
                                                    file</label>
                                            </div>
                                            <div class="input-group-append">
                                                <button class="btn btn-primary" (click)="onUpload()">Upload</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="card-body">
                            <ng-container *ngIf="alllist1 && alllist1.length > 0; else noData">
                                <table id="example2" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Sr.No</th>

                                            <th>File Id</th>
                                            <th>Inserted Count</th>
                                            <th>Failed Count</th>
                                            <th>Created At </th>
                                            <th>View </th>
                                            <th>Download </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr
                                            *ngFor="let alluploadedusers of alllist1 | paginate :{itemsPerPage:pagesize,currentPage:currentpage} let i=index">
                                            <td>{{i+1+(pagesize*(currentpage-1))}}</td>
                                            <td>{{ alluploadedusers.fileId }}</td>
                                            <td>{{ alluploadedusers.insertedCount }}</td>
                                            <td>{{ alluploadedusers.failedCount }}</td>
                                            <!-- <td> <span *ngIf="alluploadedusers.is_inserted==true" class="badge badge-success">
                                            Success </span> <span *ngIf="alluploadedusers.is_inserted==false"
                                            class="badge badge-danger">
                                            Failed </span></td>
                                    <td><span *ngIf="alluploadedusers.is_inserted==false"
                                            style="text-transform: capitalize;">{{
                                            alluploadedusers.reason }}</span></td> -->
                                            <td>{{ alluploadedusers.createdAt }}</td>
                                            <td>
                                                <button class="btn btn-primary"
                                                    (click)="showDetails(alluploadedusers.fileId)">View</button>
                                            </td>
                                            <td><button class="btn btn-primary"
                                                    (click)="downloadFileIdWise(alluploadedusers.fileId)">Download</button>
                                               
                                            </td>
                                            <!-- |date:'dd/MM/yyyy'}}</td> -->
                                        </tr>
                                    </tbody>
                                </table>
                                <pagination-controls (pageChange)="currentpage=$event"></pagination-controls>
                            </ng-container>
                            <!-- Show message if no data is available -->
                            <ng-template #noData>
                                <p>Data not available.</p>
                            </ng-template>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </section>

</div>