

<body class="hold-transition login-page bg-white">
  <div class="login-box ">
    <div class="login-logo ">
      <a  class="text-secondary"><b>Vrm</b>POOL</a>
    </div>
    <div class="card ">
      <div class="card-body login-card-body bg-white">
        <p class="login-box-msg">You are only one step a way from your new password, recover your password now.</p>
        <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()">

          <div class="input-group mb-3">
            <input type="text" formControlName="old_password" class="form-control bg-white" placeholder="Enter old password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>

          <div class="input-group mb-3">
            <input type="text" formControlName="password" class="form-control bg-white" placeholder="Password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>

          <div class="input-group mb-3">
            <input formControlName="confirmPassword"  type="{{ showPassword ? 'text' : 'password' }}" class="form-control bg-white" placeholder="Confirm Password">
            <div class="input-group-append">
              <div class="input-group-text">
                <!-- Toggle icon based on showPassword value -->
                <span class="fas" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'" (click)="togglePasswordVisibility()"></span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <button type="submit" class="btn btn-primary btn-block">Change password</button>
            </div>
          </div>
        </form>

        
      </div>
    </div>
  </div>
</body>