<div class="content-wrapper mt-5  bg-gradient-light text-dark">
    <div *ngIf="loading" class="loader-overlay">
        <div class="loader"></div>
      </div>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6 text-secondary">
                    <h1>Supervisor</h1>
                </div>

            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid ">
            <div class="row">
                <div class="col-12">
                    <div class="card  ">
                        <a id="hiddenLink" target="_blank" style="display: none;" download></a>


                        <div class="card-body">

                            <div class="row">

                                <div class="col-md-6">
                                    <label>Upload Supervisor</label>
                                    <div class="form-group ">
                                        <div class="input-group ">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-inputs " id="exampleInputFile"
                                                    (change)="onFileSelected($event)" class="">
                                                <label class="custom-file-label bg-white " for="exampleInputFile">
                                                    <span *ngIf="selectedFile">{{selectedFile.name}} </span>
                                                    file </label>
                                            </div>
                                            <!-- <button class="btn btn-primary bg-dark text-white" >Browse</button> -->
                                            <div class="input-group-append">
                                                <button class="btn btn-primary" (click)="onUpload()">Upload</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <!-- 
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>File Wise Data</label>
                                            <select class="form-control" (change)="onSelectChange($event.target)">
                                                <option value="" disabled selected>Choose File</option>
                                                <option *ngFor="let file of alllistFileWise" [value]="file?.fileId">
                                                    {{ file?.fileId }}
                                                </option>
                                            </select>

                                        </div>
                                    </div> -->

                            </div>
                        </div>




                        <div class="card-body bg-white">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Show Records</label>
                                    <select class="form-control" (change)="pagerecords($event.target)">
                                        <option value="" disabled selected>Choose No of Records</option>
                                        <option value="10">10</option>
                                        <option value="20">20</option>
                                        <option value="30">30</option>
                                        <option value="30">50</option>
                                        <option value="30">100</option>
                                    </select>
                                </div>
                            </div>
                            <!-- Check if supervisorlist has data -->
                            <div style="overflow-x:auto; max-width: 100%;" class="custom-scrollbar">
                                <ng-container *ngIf="supervisorlist && supervisorlist.length > 0; else noData">
                                    <table id="example2" class="table table-bordered table-hover  ">
                                        <thead>
                                            <tr>
                                                <th class="bg-dark">Sr.No</th>
                                                <th class="bg-dark">File_ID</th>
                                                <th class="bg-dark">Inserted Count</th>
                                                <th class="bg-dark">Failed Count</th>
                                                <th class="bg-dark">Created At</th>
                                                <th class="bg-dark">View</th>
                                                <th class="bg-dark">Download</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="text-secondary"
                                                *ngFor="let alluploadedusers of supervisorlist | paginate:{ itemsPerPage: pagesize, currentPage: currentpage } let i=index">
                                                <td class=" text-dark">{{ i + 1 + (pagesize * (currentpage - 1)) }}</td>
                                                <td class=" text-dark">{{ alluploadedusers.fileId }}</td>
                                                <td class=" text-dark">{{ alluploadedusers.insertedCount }}</td>
                                                <td class=" text-dark">{{ alluploadedusers.failedCount }}</td>
                                                <td class=" text-dark">{{ alluploadedusers.createdAt | date: 'yyyy-MM-dd
                                                    h:mm:ss a'}}</td>
                                                <td>
                                                    <a class="text-primary"
                                                        (click)="showDetails(alluploadedusers.fileId)">View</a>
                                                </td>
                                                <td>
                                                    <a class="text-primary"
                                                        (click)="downloadFileIdWise(alluploadedusers.fileId)">Download</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <pagination-controls (pageChange)="currentpage=$event"></pagination-controls>
                                </ng-container>
                                <!-- Show message if no data is available -->
                                <ng-template #noData>
                                    <p>Data not available.</p>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>