


<div class="wrapper">
    <div *ngIf="loading" class="loader-overlay">
        <div class="loader"></div>
    </div>
    <div class="content-wrapper bg-gradient-light text-dark">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6  ">
                        <h1 class="text-secondary">Call Details</h1>
                    </div>

                </div>
            </div>
        </section>

        <section class="content ">
            <div class="container-fluid bg-white text-dark">
                <div class="card card-default bg-white text-dark ">
                    <div class="card-header">
                        <h3 class="card-title text-secondary ">User</h3>

                    </div>
                    <div class="col-md-12">
                        <div class="card-body">
                            <div class="row text-dark">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Supervisor</label>
                                        <select class="form-control bg-white text-secondary"
                                            (change)="onSelectChangeSupervisor($event.target)">
                                            <option value="" disabled selected class="text-secondary">Choose Supervisor
                                            </option>
                                            <option *ngFor="let userList of supervisorList" [value]="userList.id"
                                                class="text-secondary">
                                                {{ userList.name }}
                                            </option>
                                        </select>
                                    </div>


                                </div>



                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Relationship Manager</label>
                                        <ng-multiselect-dropdown [placeholder]="'Choose RM'" class="text-secondary"
                                            [data]="allagentbysupervisorList" [(ngModel)]="selectedAgents"
                                            [settings]="dropdownSettings" (ngModelChange)="onSelectChangeAgent($event)">
                                        </ng-multiselect-dropdown>
                                    </div>
                                </div>




                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>From Date</label>
                                        <div class="input-group" id="fromdate">
                                            <input type="date" type="date" [max]="maxDatef" [min]="minDatef"
                                                class="form-control bg-white text-secondary"
                                                (change)="fromdate($event.target)" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>From Time</label>
                                        <div class="input-group" id="fromtime">
                                            <input type="time" class="form-control bg-white text-secondary"
                                                (change)="fromtime($event.target)" />

                                            <!-- <input type="text"  class="form-control bg-white text-secondary"
                                                (change)="fromtime($event.target)" formControlName="timeInput" placeholder="HH:MM" required> -->

                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>To Date</label>
                                        <div class="input-group" id="todate">
                                            <input type="date" [min]="minDatet" [max]="maxDatet"
                                                class="form-control bg-white text-secondary"
                                                (change)="todate($event.target)" />
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>To Time</label>
                                        <div class="input-group" id="totime">
                                            <input type="time" class="form-control bg-white text-secondary"
                                                (change)="totime($event.target)" />
                                            <!-- <input type="text"  class="form-control bg-white text-secondary"
                                                (change)="totime($event.target)" formControlName="timeInput" placeholder="HH:MM"> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Time Frame</label>
                                        <select class="form-control bg-white  text-secondary"
                                            (change)="ontimeselect($event.target)" [ngModel]="timeselect">
                                            <option value="" selected class="text-secondary">Choose Time Frame
                                            </option>
                                            <option value="60" class="text-secondary">60 Minutes</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label>&nbsp;</label>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-append">
                                                <button class="input-group-text" (click)="getSearch()">Search</button>
                                            </div>&nbsp;&nbsp;&nbsp;
                                            <div class="input-group-append">
                                                <button class="btn btn-primary" (click)="failedcalllog()">Failed Call
                                                    Log</button>
                                            </div>
                                        </div>



                                    </div>



                                </div>




                                <!-- <div class="col-md-3">
                                    <div class="form-group">
                                        <label >Search</label>
                                        <div class="form-group">
                                            <input type="text" class="form-control bg-white text-secondary"
                                                placeholder="Search..." [(ngModel)]="searchTerm"
                                                (ngModelChange)="searchChanged($event)"
                                                (keyup)="searchChanged($event)">
                                        </div>
                                      
                                    </div>
                                </div> -->
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="searchInput">Search</label>
                                        <div class="form-group">
                                            <input type="text" class="form-control bg-white text-secondary"
                                                id="searchInput" placeholder="Search..." [(ngModel)]="searchTerm"
                                                (keyup)="searchChanged(searchTerm)">
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="content">

            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <div class="card">

                            <div class="card-body  bg-white">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Show Records</label>
                                        <select class="form-control" (change)="pagerecords($event.target)">
                                            <option value="" disabled selected>Choose No of Records</option>
                                            <option value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="30">30</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                            <option value="200">200</option>
                                        </select>
                                    </div>
                                </div>
                                <div style="overflow-x:auto; max-width: 100%;" class="custom-scrollbar">
                                    <ng-container *ngIf="filterList && filterList.length > 0; else noData">
                                        <table id="example2"
                                            class="table table-bordered table-hover bg-dark text-white">
                                            <thead>
                                                <tr class="text-secondary text-white">
                                                    <th class="text-white">Sr.No</th>
                                                    <th (click)="sortAgentEmail('name')" class="text-white">RM Name <i
                                                            class="fa" [ngClass]="getArrowClass('name')"></i></th>
                                                    <th (click)="sortAgentEmail('email')" class="text-white">RM Email <i
                                                            class="fa " [ngClass]="getArrowClass('email')"></i></th>
                                                    <th (click)="sortAgentEmail('mobile')" class="text-white">RM Mobile
                                                        Number</th>
                                                    <th>Available Time</th>
                                                    <th>Non Available Time</th>
                                                    <th>On Call Time</th>
                                                    <th>Received Calls</th>
                                                    <th>Missed Calls</th>
                                                    <th>Outgoing Calls</th>
                                                    <th *ngIf="filterList[0].slot">Time Slot</th>
                                                    <!-- <th >Incoming Calls</th> -->


                                                    <!-- <th >No Answer</th> -->
                                                    <!-- <th >Busy</th>  -->
                                                    <!-- <th >Failed</th> -->


                                                    <!-- <th>Average Handling Time In Minutes</th> -->
                                                    <!-- <th>Device On Percent</th> -->


                                                </tr>
                                            </thead>
                                            <tbody class="text-dark">
                                                <tr class="bg-white" id="Table_data"
                                                    *ngFor="let item of filterList ;let i = index ">
                                                    <th class="text-dark">{{ i + 1 + (pageSize * (currentPage - 1)) }}
                                                    </th>
                                                    <td>{{item.user.name }}</td>
                                                    <!-- <td><a (click)="viewagentreposrts(item.user.id)" class="nav-link text-body">{{
                                                            item.user.name }}</a></td> -->
                                                    <td id="Table_data">{{ item.user.email }}</td>
                                                    <td id="Table_data">{{ item.user.mobile }}</td>
                                                    <td>{{ item.DeviceOnHumanReadable }}</td>
                                                    <td>{{ item.DeviceOnHumanReadable | secondsDifference }}</td>
                                                    <td id="Table_data">{{ item.TotalCallDurationInMinutes }}</td>
                                                    <td>{{ calculateAbsoluteDifference(item.IncomingCalls,
                                                        item.MissedCalls) }}</td>
                                                    <td id="Table_data"> {{ item.MissedCalls }}</td>
                                                    <td id="Table_data">{{ item.OutgoingCalls }}</td>

                                                    <td id="Table_data" *ngIf="item.slot">{{
                                                        item.DeviceOnPercent.start_time | customTime }}-{{
                                                        item.DeviceOnPercent.end_time | customTime }}</td>
                                                    <!-- <td id="Table_data">{{ item.AverageHandlingTimeInMinutes }}</td> -->
                                                    <!-- <td id="Table_data">{{ item.IncomingCalls }}</td> -->
                                                    <!-- <td id="Table_data">{{ item.NoAnswer }}</td> -->
                                                    <!-- <td id="Table_data">{{ item.Busy }}</td> -->
                                                    <!-- <td id="Table_data">{{ item.Failed }}</td> -->
                                                    <!-- <td id="Table_data">{{ item.DeviceOnPercent }}</td> -->


                                                </tr>
                                            </tbody>
                                        </table>
                                        <!-- <pagination-controls (pageChange)="currentpage = $event"></pagination-controls> -->
                                        <div class="pagination-controls">
                                            <button [disabled]="currentPage <= 1"
                                                (click)="onPageChange(currentPage - 1)">Previous</button>
                                            <ng-container *ngFor="let page of getPagination(); let i = index">
                                                <button *ngIf="page !== '...'" [class.active]="page === currentPage"
                                                    (click)="onPageChange(page)">
                                                    {{ page }}
                                                </button>
                                                <span *ngIf="page === '...'">...</span>
                                            </ng-container>
                                            <button [disabled]="currentPage >= totalPages"
                                                (click)="onPageChange(currentPage + 1)">Next</button>
                                        </div>
                                    </ng-container>
                                    <div class="bg-white text-dark">
                                        <ng-template #noData class="bg-white">
                                            <p class="text-dark bg-white ">Data not available.</p>
                                        </ng-template>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



    </div>
</div>
