<div class="wrapper">
    <div class="content-wrapper bg-gradient-light text-dark">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6  ">
                        <h1 class="text-secondary">All call Log</h1>
                    </div>

                </div>
            </div>
        </section>

        <section class="content ">
            <div class="container-fluid bg-white text-dark">
                <div class="card card-default bg-white text-dark ">
                    <div class="card-header">
                        <h3 class="card-title text-secondary ">Select User</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="text-secondary ">Select Supervisor</label>
                                        <select class="form-control bg-white text-secondary"
                                            (change)="onSelectChangeSupervisor($event.target)">
                                            <option value="" disabled selected class="text-secondary">Choose Supervisor
                                            </option>
                                            <option *ngFor="let userList of supervisorList" [value]="userList.id"
                                                class="text-secondary">
                                                {{ userList.name }}
                                            </option>
                                        </select>
                                    </div>


                                </div>



                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="text-secondary">Relationship Manager</label>
                                        <ng-multiselect-dropdown [placeholder]="'Choose Agent'" class="text-secondary"
                                            [data]="allagentbysupervisorList" [(ngModel)]="selectedAgents"
                                            [settings]="dropdownSettings" (ngModelChange)="onSelectChangeAgent($event)">
                                        </ng-multiselect-dropdown>
                                    </div>
                                </div>




                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="text-secondary">From Date</label>
                                        <div class="input-group" id="fromdate">
                                            <input type="date"  type="date" [max]="maxDatef" [min]="minDatef"
                                                class="form-control bg-white text-secondary"
                                                (change)="fromdate($event.target)" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="text-secondary">From Time</label>
                                        <div class="input-group" id="fromtime">
                                            <input type="time" class="form-control bg-white text-secondary"
                                                (change)="fromtime($event.target)" />
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="text-secondary">To Date</label>
                                        <div class="input-group" id="todate">
                                            <input type="date" [min]="minDatet" [max]="maxDatet" 
                                                class="form-control bg-white text-secondary"
                                                (change)="todate($event.target)" />
                                        </div>
                                    </div>
                                </div>
                            

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="text-secondary">To Time</label>
                                        <div class="input-group" id="totime">
                                            <input type="time" class="form-control bg-white text-secondary"
                                                (change)="totime($event.target)" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="text-secondary">Select TimeFrame</label>
                                        <select class="form-control bg-white  text-secondary"
                                            (change)="ontimeselect($event.target)">
                                            <option value="" disabled selected class="text-secondary">Choose TimeFrame
                                            </option>
                                            <option value="30" class="text-secondary">30 Minutes</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="text-secondary">Search</label>
                                        <div class="form-group">
                                            <input type="text" class="form-control bg-white text-secondary"
                                                placeholder="Search..." [(ngModel)]="searchTerm"
                                                (ngModelChange)="searchChanged($event)">
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="content">

            <div class="container-fluid">
               
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            
                            <div class="card-body  bg-white">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Show Records</label>
                                        <select class="form-control" (change)="pagerecords($event.target)">
                                            <option value="" disabled selected>Choose No of Records</option>
                                            <option value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="30">30</option>
                                            <option value="30">50</option>
                                            <option value="30">100</option>
                                        </select>
                                    </div>
                                </div>
                                <div style="overflow-x:auto; max-width: 100%;" class="custom-scrollbar">
                                    <ng-container *ngIf="filterList && filterList.length > 0; else noData">
                                        <table id="example2" class="table table-bordered table-hover bg-white "  >
                                            <thead>
                                                <tr class="text-secondary">
                                                    <th class="bg-denger">Sr.No</th>
                                                    <th (click)="sortAgentEmail('name')">Agent Name <i class="fa"
                                                            [ngClass]="getArrowClass('name')"></i></th>
                                                    <th (click)="sortAgentEmail('email')">Agent Email <i class="fa "
                                                            [ngClass]="getArrowClass('email')"></i></th>
                                                    <th>Incoming Calls</th>
                                                    <th>Missed Calls</th>
                                                    <th>Received Calls</th>
                                                    <th>No Answer</th>
                                                    <th>Busy</th>
                                                    <th>Failed</th>
                                                    <th>Outgoing Calls</th>
                                                    <th>On Call Time</th>
                                                    <th>Average Handling Time In Minutes</th>
                                                    <!-- <th>Device On Percent</th> -->
                                                    <!-- <th>Device On Human Readable</th> -->
                                                    <th (click)="sortAgentEmail('mobile')">Agent Phone Number</th>
                                                </tr>
                                            </thead>
                                            <tbody class="text-dark">
                                                <tr class="bg-white" 
                                                    *ngFor="let item of filterList | paginate: { itemsPerPage: pagesize, currentPage: currentpage } as paginatedItems; let i = index">
                                                    <td class="text-body">{{ (currentpage - 1) * pagesize + i + 1 }}</td>
                                                    <td><a (click)="viewagentreposrts(item.user.id)" class="nav-link text-body">{{
                                                            item.user.name }}</a></td>
                                                    <h5><td id="Table_data">{{ item.user.email }}</td></h5>
                                                    <td id="Table_data">{{ item.IncomingCalls }}</td>
                                                    <td id="Table_data"> {{ item.MissedCalls }}</td>
                                                    <td>{{ calculateAbsoluteDifference(item.IncomingCalls,
                                                        item.MissedCalls) }}</td>
                                                    <td id="Table_data">{{ item.NoAnswer }}</td>
                                                    <td id="Table_data">{{ item.Busy }}</td>
                                                    <td id="Table_data">{{ item.Failed }}</td>
                                                    <td id="Table_data">{{ item.OutgoingCalls }}</td>
                                                    <td id="Table_data">{{ item.TotalCallDurationInMinutes }}</td>
                                                    <td id="Table_data">{{ item.AverageHandlingTimeInMinutes }}</td>
                                                    <td id="Table_data">{{ item.DeviceOnPercent }}</td>
                                                    <!-- <td>{{ item.DeviceOnHumanReadable }}</td> -->
                                                    <td id="Table_data">{{ item.user.mobile }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <pagination-controls (pageChange)="currentpage = $event"></pagination-controls>
                                    </ng-container>
                                    <div class="bg-white text-dark">
                                        <ng-template #noData class="bg-white">
                                            <p class="text-dark bg-white ">Data not available.</p>
                                        </ng-template>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



    </div>
</div>