<div class="wrapper">
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>All call Log</h1>
                    </div>

                </div>
            </div>
        </section>

        <section class="content">
            <div class="container-fluid">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">Select User</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Select Supervisor</label>
                                        <select class="form-control" (change)="onSelectChangeSupervisor($event.target)">
                                            <option value="" disabled selected>Choose Supervisor</option>
                                            <option *ngFor="let userList of supervisorList" [value]="userList.id">
                                                {{ userList.name }}
                                            </option>
                                        </select>
                                    </div>


                                </div>



                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Relationship Manager</label>
                                        <ng-multiselect-dropdown [placeholder]="'Choose Agent'"
                                            [data]="allagentbysupervisorList" [(ngModel)]="selectedAgents"
                                            [settings]="dropdownSettings" (ngModelChange)="onSelectChangeAgent($event)">
                                        </ng-multiselect-dropdown>
                                    </div>
                                </div>




                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>From Date</label>
                                        <div class="input-group" id="fromdate">
                                            <input type="date" [max]="maxDatef" [min]="minDatef" class="form-control"
                                                (change)="fromdate($event.target)" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>From Time</label>
                                        <div class="input-group" id="fromtime">
                                            <input type="time" class="form-control"
                                                (change)="fromtime($event.target)" />
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>To Date</label>
                                        <div class="input-group" id="todate">
                                            <input type="date" [min]="minDatet" [max]="maxDatet" class="form-control"
                                                (change)="todate($event.target)" />
                                        </div>
                                    </div>
                                </div>
                            

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>To Time</label>
                                        <div class="input-group" id="totime">
                                            <input type="time" class="form-control" (change)="totime($event.target)" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Select TimeFrame</label>
                                        <select class="form-control" (change)="ontimeselect($event.target)">
                                            <option value="" disabled selected>Choose TimeFrame</option>
                                            <option value="30">30 Minutes</option>
                                            <!-- <option value="60">60 Minutes</option> -->
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Search</label>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Search..."
                                                [(ngModel)]="searchTerm" (ngModelChange)="searchChanged($event)">
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="content">

            <div class="container-fluid">
               
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            
                            <div class="card-body">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Show Records</label>
                                        <select class="form-control" (change)="pagerecords($event.target)">
                                            <option value="" disabled selected>Choose No of Records</option>
                                            <option value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="30">30</option>
                                            <option value="30">50</option>
                                            <option value="30">100</option>
                                        </select>
                                    </div>
                                </div>
                                <div style="overflow-x:auto; max-width: 100%;" class="custom-scrollbar">
                                    <ng-container *ngIf="filterList && filterList.length > 0; else noData">
                                        <table id="example2" class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Sr.No</th>
                                                    <th (click)="sortAgentEmail('name')">Agent Name <i class="fa"
                                                            [ngClass]="getArrowClass('name')"></i></th>
                                                    <th (click)="sortAgentEmail('email')">Agent Email <i class="fa "
                                                            [ngClass]="getArrowClass('email')"></i></th>
                                                    <th>Incoming Calls</th>
                                                    <th>Missed Calls</th>
                                                    <th>Received Calls</th>
                                                    <th>No Answer</th>
                                                    <th>Busy</th>
                                                    <th>Failed</th>
                                                    <th>Outgoing Calls</th>
                                                    <th>On Call Time</th>
                                                    <th>Average Handling Time In Minutes</th>
                                                    <!-- <th>Device On Percent</th> -->
                                                    <!-- <th>Device On Human Readable</th> -->
                                                    <th (click)="sortAgentEmail('mobile')">Agent Phone Number</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr
                                                    *ngFor="let item of filterList | paginate: { itemsPerPage: pagesize, currentPage: currentpage } as paginatedItems; let i = index">
                                                    <td>{{ (currentpage - 1) * pagesize + i + 1 }}</td>
                                                    <td>{{item.user.name }}</td>
                                                    <!-- <td><a (click)="viewagentreposrts(item.user.id)" class="nav-link">{{
                                                            item.user.name }}</a></td> -->
                                                    <td>{{ item.user.email }}</td>
                                                    <td>{{ item.IncomingCalls }}</td>
                                                    <td>{{ item.MissedCalls }}</td>
                                                    <td>{{ calculateAbsoluteDifference(item.IncomingCalls,
                                                        item.MissedCalls) }}</td>
                                                    <td>{{ item.NoAnswer }}</td>
                                                    <td>{{ item.Busy }}</td>
                                                    <td>{{ item.Failed }}</td>
                                                    <td>{{ item.OutgoingCalls }}</td>
                                                    <td>{{ item.TotalCallDurationInMinutes }}</td>
                                                    <td>{{ item.AverageHandlingTimeInMinutes }}</td>
                                                    <!-- <td>{{ item.DeviceOnPercent }}</td> -->
                                                    <!-- <td>{{ item.DeviceOnHumanReadable }}</td> -->
                                                    <td>{{ item.user.mobile }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <pagination-controls (pageChange)="currentpage = $event"></pagination-controls>
                                    </ng-container>
                                    <ng-template #noData>
                                        <p>Data not available.</p>
                                    </ng-template>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



    </div>
</div>