<div class="wrapper">
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>All Users List</h1>
                    </div>

                </div>
            </div>
        </section>


        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            
                       
                       
                            
                            <div class="card-body">
                                <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Select User Type</label>
                                        <select class="form-control" (change)="listsepration($event.target)">
                                            <option value="" disabled selected>Choose User Type</option>
                                            <option value="2"> Supervisors</option>
                                            <option value="3"> Relationship Manager</option>
                                        </select>
    
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Show Records</label>
                                        <select class="form-control" (change)="pagerecords($event.target)">
                                            <option value="" disabled selected>Choose No of Records</option>
                                            <option value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="30">30</option>
                                            <option value="30">50</option>
                                            <option value="30">100</option>
                                        </select>
                                    </div>
                                </div>
                                </div>
                                <div style="overflow-x:auto; max-width: 100%;" class="custom-scrollbar">

                                    <ng-container *ngIf="supervisorsList1 && supervisorsList1.length > 0; else noData">
                                        <table id="example2" class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>Sr.No</th>
                                                    <th>Supervisor/Agent</th>
                                                    <th>Name </th>
                                                    <th>Mobile No</th>
                                                    <th>Email ID</th>
                                                    <th>Edit</th>
                                                    <th>Enable/Disable</th>
                                                    <!-- <th>Change PassWord</th> -->
                                                    <th>Reset PassWord</th>
                                                    <th>Delete User</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr
                                                    *ngFor="let users of supervisorsList1 | paginate :{itemsPerPage:pagesize,currentPage:currentpage} let i=index">
                                                    <ng-container *ngIf="users.is_deleted == 0">
                                                        <td>{{i+1+(pagesize*(currentpage-1))}}</td>
                                                        <td><span *ngIf="users.user_type == '2'"> Supervisor</span><span
                                                                *ngIf="users.user_type == '3'"> Agent</span></td>
                                                        <td>{{ users.name }}</td>
                                                        <td>{{users.mobile}} </td>
                                                        <td>{{users.email}} </td>
                                                        <td><button class="btn btn-primary"
                                                                *ngIf="users.user_type == '2'"
                                                                (click)="updateusers(users.id)">Edit</button><span
                                                                *ngIf="users.user_type == '3'"> NA</span></td>
                                                        <td>
                                                            <label class="switch">
                                                                <input type="checkbox" [checked]="users.is_active==1"
                                                                    (change)="changeUserStatus(users.id, $event.target)">
                                                                <span class="slider"></span>
                                                            </label>

                                                        </td>

                                                        <td><button class="btn btn-primary  "
                                                                *ngIf="users.user_type == '2'"
                                                                (click)="userspassreset(users.mobile)">Reset
                                                                PassWord </button>
                                                            <span *ngIf="users.user_type == '3'"> NA</span>
                                                        </td>
                                                        <td><button class="btn btn-primary "
                                                                *ngIf="users.user_type == '2'"
                                                                (click)="deleteUser(users.id)">Delete
                                                                User </button>
                                                            <span *ngIf="users.user_type == '3'"> NA</span>
                                                        </td>
                                                    </ng-container>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </ng-container>
                                </div>
                                <!-- Show message if no data is available -->
                                <ng-template #noData>
                                    <p>Data not Available.</p>
                                </ng-template>
                            </div>
                            <pagination-controls (pageChange)="currentpage=$event"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>