<div class="wrapper">
    <div *ngIf="loading" class="loader-overlay">
        <div class="loader"></div>
    </div>
    <div class="content-wrapper mt-5 bg-gradient-light text-dark">
        <section class="content-header bg-white text-dark">
            <div class="container-fluid">
                <div class="row mb-2 ">
                    
                    <div class="col-sm-3  ">
                        <h1 class="text-secondary">Users</h1>
                        
                    </div>
                    <!-- <div class="col-sm-3  " *ngIf="showSuccessMessage" class="alert alert-success">Password changed successfully!</div> -->
                </div>
            </div>
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card bg-white">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>User Type</label>
                                    <select class="form-control bg-white text-secondary"
                                        (change)="listsepration($event.target)">
                                        <option value="" disabled selected class="bg-white text-secondary">Choose User
                                            Type</option>
                                        <option value="2">Supervisors</option>
                                        <option value="3">Relationship Manager</option>
                                    </select>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-3 row" >
                                        <div class="form-group">
                                            <label>Show Records</label>
                                            <select class="form-control" (change)="pagerecords($event.target)"
                                                style="width: 5pc;">
                                                <option value="200" disabled selected>No</option>
                                                <option value="10">10</option>
                                                <option value="20">20</option>
                                                <option value="30">30</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                                 <option value="200">200</option>
                                            </select>
                                        </div>
                                        
                                    </div>
                                   
                                </div>
                                <div style="overflow-x:auto; max-width: 100%;" class="custom-scrollbar">
                                    <ng-container *ngIf="supervisorsList1 && supervisorsList1.length > 0; else noData">
                                        <table id="example2"
                                            class="table table-bordered table-hover bg-dark text-secondary">
                                            <thead>
                                                <tr>
                                                    <th class="textcenter">Sr.No</th>
                                                    <th class="textcenter">Supervisor/RM</th>
                                                    <th class="textcenter">Name</th>
                                                    <th class="textcenter">Mobile No</th>
                                                    <th class="textcenter">Email ID</th>
                                                    <th class="textcenter">Edit</th>
                                                    <th class="textcenter">Enable/Disable</th>
                                                    <th class="textcenter">Change Password</th>
                                                    <th class="textcenter">Delete User</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="bg-white"
                                                    *ngFor="let users of supervisorsList1; let i = index ">
                                                    <ng-container *ngIf="users.is_deleted == 0">
                                                        <!-- <th class="text-dark">{{ i + 1 + (pageSize * (currentPage - 1)) }}</th> -->
                                                        <th class="text-dark textcenter">{{ i + 1 + (pageSize *
                                                            (currentPage - 1))
                                                            }}</th>

                                                        <td class="text-dark textcenter">
                                                            <span *ngIf="users.user_type == '2'">Supervisor</span>
                                                            <span *ngIf="users.user_type == '3'">Relationship
                                                                Manager</span>
                                                        </td>
                                                        <td class="text-dark">{{ users.name }}</td>
                                                        <td class="text-dark textcenter">{{ users.mobile }}</td>
                                                        <td class="text-dark">{{ users.email }}</td>
                                                        <td class="text-dark textcenter">
                                                            <a class="text-primary" *ngIf="users.user_type == '2'"
                                                                (click)="updateusers(users.id)">Edit</a>
                                                            <span *ngIf="users.user_type == '3'">NA</span>
                                                        </td>
                                                        <td class="text-dark textcenter">
                                                            <label class="switch">
                                                                <input type="checkbox" [checked]="users.is_active == 1"
                                                                    (change)="changeUserStatus(users.id, $event.target)">
                                                                <span class="slider"></span>
                                                            </label>
                                                        </td>
                                                        <td class="text-dark textcenter">
                                                            <a class="text-primary" *ngIf="users.user_type == '2'"
                                                                data-toggle="modal" data-target="#exampleModal"
                                                                (click)="userspassreset(users.id)">Change
                                                                Password</a>
                                                            <span *ngIf="users.user_type == '3'">NA</span>
                                                        </td>
                                                        <td class="text-dark textcenter">
                                                            <a class="text-primary" *ngIf="users.user_type == '2'"
                                                                (click)="deleteUser(users.id)">Delete User</a>
                                                            <span *ngIf="users.user_type == '3'">NA</span>
                                                        </td>
                                                    </ng-container>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </ng-container>
                                </div>
                                <ng-template #noData>
                                    <p>Data not Available.</p>
                                </ng-template>
                            </div>
                            <!-- <div class="pagination-controls">
                                <button [disabled]="currentPage <= 1"
                                    (click)="onPageChange(currentPage - 1)">Previous</button>
                                <button *ngFor="let page of [].constructor(totalPages); let i = index"
                                    [class.active]="i + 1 === currentPage" (click)="onPageChange(i + 1)">
                                    {{ i + 1 }}
                                </button>
                                <button [disabled]="currentPage >= totalPages"
                                    (click)="onPageChange(currentPage + 1)">Next</button>
                            </div> -->
                            <div class="pagination-controls">
                                <button [disabled]="currentPage <= 1"
                                    (click)="onPageChange(currentPage - 1)">Previous</button>
                                <ng-container *ngFor="let page of getPagination(); let i = index">
                                    <button *ngIf="page !== '...'" [class.active]="page === currentPage"
                                        (click)="onPageChange(page)">
                                        {{ page }}
                                    </button>
                                    <span *ngIf="page === '...'">...</span>
                                </ng-container>
                                <button [disabled]="currentPage >= totalPages"
                                    (click)="onPageChange(currentPage + 1)">Next</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>




<!-- Modal -->
<div *ngIf="isModalOpen" class="modal fade show d-block" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Change UM Password</h5>
          <button type="button" class="close" (click)="closeModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()">
            <div class="input-group mb-3">
              <input [type]="showPassword ? 'text' : 'password'" formControlName="password" class="form-control" placeholder="Password" required>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'" (click)="togglePasswordVisibility()"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input [type]="showPassword ? 'text' : 'password'" formControlName="confirmPassword" class="form-control" placeholder="Confirm Password" required>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'" (click)="togglePasswordVisibility()"></span>
                </div>
              </div>
            </div>
           
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
          <button type="submit" class="btn btn-primary" [disabled]="changePasswordForm.invalid" (click)="onChangePassword()">Change Password</button>
        </div>
      </div>
    </div>
  </div>