<div class="wrapper ">
    <div *ngIf="loading" class="loader-overlay">
        <div class="loader"></div>
    </div>
    <div class="content-wrapper mt-5  bg-gradient-light text-dark">
        <section class="content-header bg-whte text-dark">
            <div class="container-fluid ">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class=" text-secondary">Users</h1>
                    </div>

                </div>
            </div>
        </section>


        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card bg-white">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>User Type</label>
                                    <select class="form-control bg-white text-secondary"
                                        (change)="listsepration($event.target)">
                                        <option value="" disabled selected class="bg-white text-secondary">Choose User
                                            Type</option>
                                        <option value="2"> Supervisors</option>
                                        <option value="3"> Relationship Manager</option>
                                    </select>

                                </div>
                            </div>

                            <div class="card-body">
                                <div class="row">
                                    <!-- <div class="col-md-3">
                                    <div class="form-group">
                                        <label>User Type</label>
                                        <select class="form-control" (change)="listsepration($event.target)">
                                            <option value="" disabled selected>Choose User Type</option>
                                            <option value="2"> Supervisors</option>
                                            <option value="3"> Relationship Manager</option>
                                        </select>
    
                                    </div>
                                </div> -->
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Show Records</label>
                                            <select class="form-control" (change)="pagerecords($event.target)">
                                                <option value="" disabled selected>Choose No of Records</option>
                                                <option value="10">10</option>
                                                <option value="20">20</option>
                                                <option value="30">30</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div style="overflow-x:auto; max-width: 100%;" class="custom-scrollbar">

                                    <ng-container *ngIf="supervisorsList1 && supervisorsList1.length > 0; else noData"
                                        class="bg-light text-dark">
                                        <table id="example2"
                                            class="table table-bordered table-hover bg-dark text-secondary ">
                                            <thead>
                                                <tr>
                                                    <th>Sr.No</th>
                                                    <th>Supervisor/RM</th>
                                                    <th>Name </th>
                                                    <th>Mobile No</th>
                                                    <th>Email ID</th>
                                                    <th>Edit</th>
                                                    <th>Enable/Disable</th>
                                                    <!-- <th>Change PassWord</th> -->
                                                    <th>Reset PassWord</th>
                                                    <th>Delete User</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <tr class="bg-white"
                                                    *ngFor="let users of supervisorsList1 | paginate :{itemsPerPage:pagesize,currentPage:currentpage} let i=index">
                                                    <ng-container *ngIf="users.is_deleted == 0"
                                                        class="bg-light text-secondary">

                                                        
                                                        <th class="text-secondary text-dark">{{ i + 1 + (pagesize *
                                                            (currentpage - 1)) }}</th>
                                                        <td class=" text-secondary text-dark"><span
                                                                *ngIf="users.user_type == '2'"> Supervisor</span><span
                                                                *ngIf="users.user_type == '3'"> Relationship Manager</span></td>
                                                        <td class="text-dark">{{ users.name }}</td>
                                                        <td class="text-dark">{{users.mobile}} </td>
                                                        <td class="text-dark">{{users.email}} </td>
                                                        <td class="text-dark"><a class="text-primary"
                                                                *ngIf="users.user_type == '2'"
                                                                (click)="updateusers(users.id)">Edit</a><span
                                                                *ngIf="users.user_type == '3'"> NA</span></td>
                                                        <td class="text-dark">
                                                            <label class="switch">
                                                                <input type="checkbox" [checked]="users.is_active==1"
                                                                    (change)="changeUserStatus(users.id, $event.target)">
                                                                <span class="slider"></span>
                                                            </label>

                                                        </td>

                                                        <td class="text-dark"> <a class="text-primary  "
                                                                *ngIf="users.user_type == '2'"
                                                                (click)="userspassreset(users.mobile)">Reset
                                                                PassWord </a>
                                                            <span *ngIf="users.user_type == '3'"> NA</span>
                                                        </td>
                                                        <td class="text-dark"><a class="text-primary "
                                                                *ngIf="users.user_type == '2'"
                                                                (click)="deleteUser(users.id)">Delete
                                                                User </a>
                                                            <span *ngIf="users.user_type == '3'"> NA</span>
                                                        </td>
                                                    </ng-container>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </ng-container>
                                </div>
                                <!-- Show message if no data is available -->
                                <ng-template #noData>
                                    <p>Data not Available.</p>
                                </ng-template>
                            </div>
                            <pagination-controls (pageChange)="currentpage=$event"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>