<div class="content-wrapper mt-5 bg-gradient-light">

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="text-secondary">Agent List</h1>
                </div>

            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card bg-white">
                        <div class="card-body">
                            <div style="overflow-x:auto; max-width: 100%;" class="custom-scrollbar">
                                <ng-container *ngIf="allagentlist && allagentlist.length > 0; else noData">
                                    <table id="example2" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Sr.No</th>
                                                <th>Name </th>
                                                <th>Mobile No</th>
                                                <th>Email_ID</th>



                                            </tr>


                                        </thead>
                                        <tbody>
                                            <tr class="text-secondary"
                                                *ngFor="let agent of allagentlist  | paginate :{itemsPerPage:pagesize,currentPage:currentpage} let i=index">
                                                <td>{{i+1+(pagesize*(currentpage-1))}}</td>
                                                <td>{{ agent.name }} </td>
                                                <td>{{ agent.mobile }}</td>
                                                <td>{{ agent.email }}</td>



                                            </tr>
                                        </tbody>
                                    </table>
                                    <pagination-controls (pageChange)="currentpage=$event"></pagination-controls>
                                </ng-container>
                                <!-- Show message if no data is available -->
                                <ng-template #noData>
                                    <p>Data not available.</p>
                                </ng-template>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

</div>