<div class="content-wrapper mt-5 bg-gradient-light">
    <div *ngIf="loading" class="loader-overlay">
        <div class="loader"></div>
      </div>
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="text-secondary">Relationship Manager</h1>
                </div>

            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card bg-white">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Show Records</label>
                                <select class="form-control" (change)="pagerecords($event.target)">
                                    <option value="" disabled selected>Choose No of Records</option>
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
        
                                </select>
                            </div>
                        </div>
                        <div class="card-body">
                            <div style="overflow-x:auto; max-width: 100%;" class="custom-scrollbar">
                                <ng-container *ngIf="allagentlist && allagentlist.length > 0; else noData">
                                    <table id="example2" class="table table-bordered table-hover">
                                        <thead>
                                            <tr class="bg-dark">
                                                <th>Sr.No</th>
                                                <th>Name </th>
                                                <th>Mobile No</th>
                                                <th>Email_ID</th>

 

                                            </tr>


                                        </thead>
                                        <tbody class="text-dark">
                                            <tr class="bg-white"
                                                *ngFor="let agent of allagentlist  | paginate :{itemsPerPage:pagesize,currentPage:currentpage} let i=index">
                                                <td>{{i+1+(pagesize*(currentpage-1))}}</td>
                                                <td>{{ agent.name }} </td>
                                                <td>{{ agent.mobile }}</td>
                                                <td>{{ agent.email }}</td>



                                            </tr>
                                        </tbody>
                                    </table>
                                    <pagination-controls (pageChange)="currentpage=$event"></pagination-controls>
                                </ng-container>
                                <!-- Show message if no data is available -->
                                <ng-template #noData>
                                    <p>Data not available.</p>
                                </ng-template>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

</div>