
<body class="hold-transition login-page bg-gradient-light">
<div class="center-container">
    <div class="login-box">
        <div class="card-body login-card-body bg-white">
            <p>Enter Mobile Number</p>
            <form [formGroup]="loginForm" (ngSubmit)="SendOtp()">
                <div class="input-group mb-3">
                    <input type="numbers" formControlName="mobile" class="form-control text-secondary bg-white"
                        placeholder="Enter Mobile Number">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-mobile"></span>
                        </div>
                    </div>
                </div>
                <div *ngIf="loginForm.controls['mobile'].invalid && (loginForm.controls['mobile'].dirty || loginForm.controls['mobile'].touched)"
                    class="text-danger">
                    <p *ngIf="loginForm.controls['mobile'].errors?.['required']">Mobile number is required</p>
                    <p *ngIf="loginForm.controls['mobile'].errors?.['pattern']">Invalid mobile number format</p>
                </div>
                <div *ngIf="responseMessage" class="text-danger mb-2">
                    {{ responseMessage }}
                  </div>
                <div class="row mb-2">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block" [disabled]="otpSent">
                            {{ otpSent ? 'Resend Temporary Password (' + remainingTime + 's)' : 'Send Temporary Password' }}
                        </button>
                    </div>
                </div>
            </form>

            <div *ngIf="response.result === true">
                <form [formGroup]="resetpasswordfrom" (ngSubmit)="resetpass()">
                    <div class="input-group mb-3">
                        <input type="text" formControlName="otp" class="form-control bg-white" placeholder="Enter Temporary Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-arrow-down-1-9"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input formControlName="password"  type="{{ showPassword ? 'text' : 'password' }}" class="form-control bg-white" placeholder="Password">
                            
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <!-- Toggle icon based on showPassword value -->
                                <span class="fas" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'" (click)="togglePasswordVisibility()"></span>
                              </div>
                        </div>
                    </div>
                    <!-- <div class="input-group mb-3">
                        <input type="password" formControlName="confirm_password" class="form-control"
                            placeholder="Enter Confirm Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div> -->

                    
          <div class="input-group mb-3">
            <input formControlName="confirm_password"  type="{{ showPassword ? 'text' : 'password' }}" class="form-control bg-white" placeholder="Confirm Password">
            <div class="input-group-append">
              <div class="input-group-text">
                <!-- Toggle icon based on showPassword value -->
                <span class="fas" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'" (click)="togglePasswordVisibility()"></span>
              </div>
            </div>
          </div>
                    <div *ngIf="resetpasswordfrom.controls['password'].invalid && (resetpasswordfrom.controls['password'].dirty || resetpasswordfrom.controls['password'].touched)"
                        class="text-danger">
                        <p *ngIf="resetpasswordfrom.controls['password'].errors?.['required']">Password is required
                        </p>
                    </div>
                    <div *ngIf="resetpasswordfrom.controls['confirm_password'].invalid && (resetpasswordfrom.controls['confirm_password'].dirty || resetpasswordfrom.controls['confirm_password'].touched)"
                        class="text-danger">
                        <p *ngIf="resetpasswordfrom.controls['confirm_password'].errors?.['required']">Confirm
                            Password is required</p>
                        <p *ngIf="resetpasswordfrom.controls['confirm_password'].errors?.['passwordMismatch']">
                            Passwords do not match</p>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>