<div class="content-wrapper mt-5">

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Upload Excel Sheet </h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">DataTables</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <a id="hiddenLink" target="_blank" style="display: none;" download></a>
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Sr.No</th>
                                        <th>File Id</th>
                                        <th>Inserted Count</th>
                                        <th>Failed Count</th>
                                        <th>Created at</th>
                                        <th>Download</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        *ngFor="let file of alllistFileWise | paginate :{itemsPerPage:pagesize,currentPage:currentpage} let i=index">

                                        <td>{{i+1+(pagesize*(currentpage-1))}}</td>
                                        <td>{{ file?.fileId }}</td>
                                        <td>{{ file?.insertedCount }}</td>
                                        <td>{{ file?.failedCount }}</td>
                                        <td>{{ file?.createdAt | date: 'yyyy-MM-dd h:mm:ss a'}}</td>
                                        <td><button (click)="downloadFileIdWise(file.fileId)">download</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <pagination-controls (pageChange)="currentpage=$event"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>