<div class="wrappe ">
    <div *ngIf="loading" class="loader-overlay">
        <div class="loader"></div>
      </div>
    <div class="content-wrapper bg-gradient-light text-dark">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="text-secondary"> Call Details</h1>
                    </div>

                </div>
            </div>
        </section>

        <section class="content">
            <div class="container-fluid">
                <div class="card card-default bg-white">
                    <div class="card-header">
                        <h3 class="card-title">Select User</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-body">
                            <div class="row">


                                <!-- 
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Agents</label>
                                        <ng-multiselect-dropdown
                                            [placeholder]="'Choose Agent'"
                                            [data]="allagentbysupervisorList"
                                            [(ngModel)]="selectedAgents"
                                            [settings]="dropdownSettings"
                                            (ngModelChange)="onSelectChangeAgent($event)">
                                        </ng-multiselect-dropdown>
                                    </div>
                                </div>
                                
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>From Date</label>
                                        <div class="input-group" id="fromdate">
                                            <input type="date" class="form-control" (change)="fromdate($event.target)" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>From Time</label>
                                        <div class="input-group" id="fromtime">
                                            <input type="time" class="form-control" (change)="fromtime($event.target)" />
                                        </div>
                                    </div>
                                </div>
                                
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>To Date</label>
                                        <div class="input-group" id="todate">
                                            <input type="date" class="form-control" (change)="todate($event.target)" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>To Time</label>
                                        <div class="input-group" id="totime">
                                            <input type="time" class="form-control" (change)="totime($event.target)" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Status</label>
                                        <select class="form-control" (change)="onSelectChangeStatus($event.target)">
                                            <option value="" disabled selected>Choose Status</option>
                                            <option value="Completed">Completed</option>
                                            <option value="Missed">Missed</option>
                                        </select>
                                    </div>
                                </div> -->

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Relationship Manager</label>
                                        <ng-multiselect-dropdown [placeholder]="'Choose Agent'"
                                            [data]="allagentbysupervisorList" [(ngModel)]="selectedAgents"
                                            [settings]="dropdownSettings" (ngModelChange)="onSelectChangeAgent($event)">
                                        </ng-multiselect-dropdown>
                                    </div>
                                </div>


                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>From Date</label>
                                        <div class="input-group" id="fromdate">
                                            <input type="date" [max]="maxDate" [min]="minDate"  class="form-control text-secondary bg-white"
                                                (change)="fromdate($event.target)" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="text-secondary">From Time</label>
                                        <div class="input-group" id="fromtime">
                                            <input type="time" class="form-control bg-white text-secondary"
                                                (change)="fromtime($event.target)" />

                                                <!-- <input type="text"  class="form-control bg-white text-secondary"
                                                (change)="fromtime($event.target)" formControlName="timeInput" placeholder="HH:MM" required> -->

                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>To Date</label>
                                        <div class="input-group" id="todate">
                                            <input type="date" [max]="maxDate" class="form-control text-secondary bg-white"
                                                (change)="todate($event.target)" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="text-secondary">To Time</label>
                                        <div class="input-group" id="totime">
                                            <input type="time" class="form-control bg-white text-secondary"
                                                (change)="totime($event.target)" />
                                                <!-- <input type="text"  class="form-control bg-white text-secondary"
                                                (change)="totime($event.target)" formControlName="timeInput" placeholder="HH:MM" required> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="text-secondary">Time Frame</label>
                                        <select class="form-control bg-white  text-secondary"
                                            (change)="ontimeselect($event.target)" [ngModel]="timeselect">
                                            <option value="" selected class="text-secondary">Choose Time Frame
                                            </option>
                                            <option value="60" class="text-secondary">60 Minutes</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label>&nbsp;</label>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <div class="input-group-append">
                                                <button class="input-group-text" (click)="getSearch()">Search</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="text-secondary">Search</label>
                                        <div class="form-group">
                                            <input type="text" class="form-control bg-white text-secondary"
                                                placeholder="Search..." [(ngModel)]="searchTerm"
                                                (ngModelChange)="searchChanged($event)">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="col-md-2">
                <div class="form-group">
                    <label>Show Records</label>
                    <select class="form-control" (change)="pagerecords($event.target)">
                        <option value="" disabled selected> Records</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card bg-white">

                            <div class="card-body">
                                <div style="overflow-x:auto; max-width: 100%;" class="custom-scrollbar">
                                    <ng-container *ngIf="filterList && filterList.length > 0; else noData">
                                        <table id="example2" class="table table-bordered table-hover bg-dark text-white">
                                            <thead>
                                                <tr class="text-secondary text-white">
                                                    <th class="text-white">Sr.No</th>
                                                    <th (click)="sortAgentEmail('name')" class="text-white">RM Name <i
                                                            class="fa" [ngClass]="getArrowClass('name')"></i></th>
                                                    <th (click)="sortAgentEmail('email')" class="text-white">RM Email <i
                                                            class="fa " [ngClass]="getArrowClass('email')"></i></th>
                                                    <th (click)="sortAgentEmail('mobile')" class="text-white">RM Mobile
                                                        Number</th>
                                                    <th>Available Time</th>
                                                    <th>Non Available Time</th>
                                                    <th>On Call Time</th>
                                                    <th>Received Calls</th>
                                                    <th>Missed Calls</th>
                                                    <th>Outgoing Calls</th>
                                                    <th *ngIf="filterList[0].slot">Time Slot</th>
                                                    <!-- <th >Incoming Calls</th> -->


                                                    <!-- <th >No Answer</th> -->
                                                    <!-- <th >Busy</th>  -->
                                                    <!-- <th >Failed</th> -->


                                                    <!-- <th>Average Handling Time In Minutes</th> -->
                                                    <!-- <th>Device On Percent</th> -->


                                                </tr>
                                            </thead>
                                            <tbody class="text-dark">
                                                <tr class="bg-white" id="Table_data"
                                                    *ngFor="let item of filterList | paginate: { itemsPerPage: pagesize, currentPage: currentpage } as paginatedItems; let i = index">
                                                    <td class="text-body">{{ (currentpage - 1) * pagesize + i + 1 }}
                                                    </td>
                                                    <td>{{item.user.name }}</td>
                                                    <!-- <td><a (click)="viewagentreposrts(item.user.id)" class="nav-link text-body">{{
                                                            item.user.name }}</a></td> -->
                                                    <td id="Table_data">{{ item.user.email }}</td>
                                                    <td id="Table_data">{{ item.user.mobile }}</td>
                                                    <td>{{ item.DeviceOnHumanReadable }}</td>
                                                    <td>{{ item.DeviceOnHumanReadable | secondsDifference }}</td>
                                                    <td id="Table_data">{{ item.TotalCallDurationInMinutes }}</td>
                                                    <td>{{ calculateAbsoluteDifference(item.IncomingCalls,
                                                        item.MissedCalls) }}</td>
                                                    <td id="Table_data"> {{ item.MissedCalls }}</td>
                                                    <td id="Table_data">{{ item.OutgoingCalls }}</td>

                                                    <td id="Table_data" *ngIf="item.slot">{{
                                                        item.DeviceOnPercent.start_time | customTime }}-{{
                                                        item.DeviceOnPercent.end_time | customTime }}</td>
                                                    <!-- <td id="Table_data">{{ item.AverageHandlingTimeInMinutes }}</td> -->
                                                    <!-- <td id="Table_data">{{ item.IncomingCalls }}</td> -->
                                                    <!-- <td id="Table_data">{{ item.NoAnswer }}</td> -->
                                                    <!-- <td id="Table_data">{{ item.Busy }}</td> -->
                                                    <!-- <td id="Table_data">{{ item.Failed }}</td> -->
                                                    <!-- <td id="Table_data">{{ item.DeviceOnPercent }}</td> -->


                                                </tr>
                                            </tbody>
                                        </table>
                                        <pagination-controls (pageChange)="currentpage=$event"></pagination-controls>
                                    </ng-container>
                                    <!-- Show message if no data is available -->
                                    <ng-template #noData>
                                        <p>Data not available.</p>
                                    </ng-template>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>