<div class="wrapper">
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>All call Log</h1>
                    </div>

                </div>
            </div>
        </section>

        <section class="content">
            <div class="container-fluid">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">Select User</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-body">
                            <div class="row">


                                <!-- 
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Agents</label>
                                        <ng-multiselect-dropdown
                                            [placeholder]="'Choose Agent'"
                                            [data]="allagentbysupervisorList"
                                            [(ngModel)]="selectedAgents"
                                            [settings]="dropdownSettings"
                                            (ngModelChange)="onSelectChangeAgent($event)">
                                        </ng-multiselect-dropdown>
                                    </div>
                                </div>
                                
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>From Date</label>
                                        <div class="input-group" id="fromdate">
                                            <input type="date" class="form-control" (change)="fromdate($event.target)" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>From Time</label>
                                        <div class="input-group" id="fromtime">
                                            <input type="time" class="form-control" (change)="fromtime($event.target)" />
                                        </div>
                                    </div>
                                </div>
                                
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>To Date</label>
                                        <div class="input-group" id="todate">
                                            <input type="date" class="form-control" (change)="todate($event.target)" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>To Time</label>
                                        <div class="input-group" id="totime">
                                            <input type="time" class="form-control" (change)="totime($event.target)" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Status</label>
                                        <select class="form-control" (change)="onSelectChangeStatus($event.target)">
                                            <option value="" disabled selected>Choose Status</option>
                                            <option value="Completed">Completed</option>
                                            <option value="Missed">Missed</option>
                                        </select>
                                    </div>
                                </div> -->

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Agents</label>
                                        <ng-multiselect-dropdown [placeholder]="'Choose Agent'"
                                            [data]="allagentbysupervisorList" [(ngModel)]="selectedAgents"
                                            [settings]="dropdownSettings" (ngModelChange)="onSelectChangeAgent($event)">
                                        </ng-multiselect-dropdown>
                                    </div>
                                </div>


                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>From Date</label>
                                        <div class="input-group" id="fromdate">
                                            <input type="date" [max]="maxDate" class="form-control"
                                                (change)="fromdate($event.target)" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>From Time</label>
                                        <div class="input-group" id="fromtime">
                                            <input type="time" class="form-control"
                                                (change)="fromtime($event.target)" />
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>To Date</label>
                                        <div class="input-group" id="todate">
                                            <input type="date" [max]="maxDate" class="form-control"
                                                (change)="todate($event.target)" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>To Time</label>
                                        <div class="input-group" id="totime">
                                            <input type="time" class="form-control" (change)="totime($event.target)" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Select TimeFrame</label>
                                        <select class="form-control" (change)="ontimeselect($event.target)">
                                            <option value="" disabled selected>Choose TimeFrame</option>
                                            <option value="30">30 Minutes</option>
                                            <option value="60">60 Minutes</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Search</label>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Search..."
                                                [(ngModel)]="searchTerm" (ngModelChange)="searchChanged($event)">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">

                            <div class="card-body">
                                <ng-container *ngIf="filterList && filterList.length > 0; else noData">
                                    <table id="example2" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Sr.No</th>
                                                <th> Agent Name </th>
                                                <th>Agent Email</th>

                                                <th>Incoming Calls</th>
                                                <th>Missed Calls </th>
                                                <th>No Answer </th>
                                                <th>Busy </th>
                                                <th>Failed </th>
                                                <th>Outgoing Calls </th>
                                                <th>Total Call
                                                    Duration InMinutes </th>
                                                <th>Average
                                                    Handling Time InMinutes </th>
                                                <th>Device On Percent </th>
                                                <th>Device On
                                                    HumanReadable </th>
                                                <th>Agent Phone Number </th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr
                                                *ngFor="let item of filterList  | paginate :{itemsPerPage:pagesize,currentPage:currentpage} let i=index">
                                                <td>{{i+1+(pagesize*(currentpage-1))}}</td>
                                                <td><a (click)="viewagentreposrts(item.user.id)"
                                                    class="nav-link">{{item.user.name}} </a></td>
                                            <td>{{item.user.email}}</td>
                                            <td>{{item.IncomingCalls}}</td>
                                            <td>{{item.MissedCalls}}</td>
                                            <td>{{item.NoAnswer}}</td>
                                            <td>{{item.Busy}}</td>
                                            <td>{{item.Failed}}</td>
                                            <td>{{item.OutgoingCalls}}</td>
                                            <td>{{item.TotalCallDurationInMinutes}}</td>
                                            <td>{{item.AverageHandlingTimeInMinutes}}</td>
                                            <td>{{item.DeviceOnPercent}}</td>
                                            <td>{{item.DeviceOnHumanReadable}}</td>
                                            <td>{{item.user.mobile}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </ng-container>
                                <!-- Show message if no data is available -->
                                <ng-template #noData>
                                    <p>Data not available.</p>
                                </ng-template>
                            </div>
                            <pagination-controls (pageChange)="currentpage=$event"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>