<div class="wrapper">
    <div class="content-wrapper">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>All call Log</h1>
                    </div>

                </div>
            </div>
        </section>

        <section class="content">
            <div class="container-fluid">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">Select User</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-body">
                            <div class="row">



                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Agents</label>
                                        <ng-multiselect-dropdown
                                            [placeholder]="'Choose Agent'"
                                            [data]="allagentbysupervisorList"
                                            [(ngModel)]="selectedAgents"
                                            [settings]="dropdownSettings"
                                            (ngModelChange)="onSelectChangeAgent($event)">
                                        </ng-multiselect-dropdown>
                                    </div>
                                </div>
                                
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>From Date</label>
                                        <div class="input-group" id="fromdate">
                                            <input type="date" class="form-control" (change)="fromdate($event.target)" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>From Time</label>
                                        <div class="input-group" id="fromtime">
                                            <input type="time" class="form-control" (change)="fromtime($event.target)" />
                                        </div>
                                    </div>
                                </div>
                                
                                
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>To Date</label>
                                        <div class="input-group" id="todate">
                                            <input type="date" class="form-control" (change)="todate($event.target)" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>To Time</label>
                                        <div class="input-group" id="totime">
                                            <input type="time" class="form-control" (change)="totime($event.target)" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Status</label>
                                        <select class="form-control" (change)="onSelectChangeStatus($event.target)">
                                            <option value="" disabled selected>Choose Status</option>
                                            <option value="Completed">Completed</option>
                                            <option value="Missed">Missed</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">

                            <div class="card-body">
                                <table id="example2" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Sr.No</th>
                                            <th>Name </th>
                                            <th>Mobile No</th>
                                            <th>Email_ID</th>
                                            <th>Completed Count</th>
                                            <th>Missed Count</th>
                                            <th>Incoming Count </th>
                                            <th>Outgoing Count </th>
                                            <th>Total Duration </th>
                                            <th>Average Duration </th>
                                            <th>Total Calls </th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr
                                            *ngFor="let item of alllist  | paginate :{itemsPerPage:pagesize,currentPage:currentpage} let i=index">
                                            <td>{{i+1+(pagesize*(currentpage-1))}}</td>
                                            <td>{{item.user.mname}} {{item.user.lname}}</td>
                                            <td>{{item.user.mobile}}</td>
                                            <td>{{item.user.email}}</td>
                                            <td>{{item.completed_count}}</td>
                                            <td>{{item.missed_count}}</td>
                                            <td>{{item.incoming_count}}</td>
                                            <td>{{item.outgoing_count}}</td>
                                            <td>{{item.total_duration}}</td>
                                            <td>{{item.average_duration}}</td>
                                            <td>{{item.total_calls}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <pagination-controls (pageChange)="currentpage=$event"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>