<div class="content-wrapper mt-5">

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>All Users</h1>
                </div>

            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">

                        </div>
                    </div>

                    <div class="card-body">
                        <div style="overflow-x:auto; max-width: 100%;" class="custom-scrollbar">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Sr.No</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Contact No</th>
                                        <th>Upload Failed | Success </th>
                                        <th>Upload Failed Reason </th>
                                        <th>Created At </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        *ngFor="let alluploadedusers of alllist | paginate :{itemsPerPage:pagesize,currentPage:currentpage} let i=index">
                                        <td>{{i+1+(pagesize*(currentpage-1))}}</td>
                                        <td>{{ alluploadedusers.name }} </td>
                                        <td>{{ alluploadedusers.email }}</td>
                                        <td>{{ alluploadedusers.mobile }}</td>
                                        <td> <span *ngIf="alluploadedusers.is_inserted==true"
                                                class="badge badge-success">
                                                Success </span> <span *ngIf="alluploadedusers.is_inserted==false"
                                                class="badge badge-danger">
                                                Failed </span></td>
                                        <td><span *ngIf="alluploadedusers.is_inserted==false"
                                                style="text-transform: capitalize;">{{
                                                alluploadedusers.reason }}</span></td>
                                        <td>{{ alluploadedusers.createdAt | date: 'yyyy-MM-dd h:mm:ss a' }}</td>
                                        <!-- |date:'dd/MM/yyyy'}}</td> -->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <pagination-controls (pageChange)="currentpage=$event"></pagination-controls>
                    </div>

                </div>
            </div>
        </div>
    </section>

</div>